@mixin btn-green {
    background-color: #1fbe1c;
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    margin: 0 3px;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 20px;
    width: 130px;
}
