@mixin sidebar {
    .sidebar {
        width: 15%;
        height: 100vh;
        background: #060606;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px 0 10px;
            img {
                height: 50px;
            }
            h2 {
                padding: 0 10px;
                font-size: 18px;
                color: #29e925;
                font-weight: normal;
                span {
                    color: white;
                }
            }
        }
        .menu {
            width: 90%;
            margin: 10px 0 0px;

            .menu-item {
                margin: 5px 0;
                padding: 15px 20px;
                border-radius: 7px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
                color: white;
                transition: 0.3s all;
                // opacity: 0.7;
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        animation-delay: ($i/10) + s;
                    }
                }
                i {
                    color: #a82dff;
                    font-size: 21px;
                }
                p {
                    // color: #29e925;
                    color: white;
                    font-size: 17px;
                    margin: 0 10px;
                    font-family: $font-sen;
                }
                &:hover {
                    background-color: rgba($color: #a82dff, $alpha: 0.7);
                    i {
                        color: white;
                    }
                }
                // &:hover {
                //     cursor: pointer;
                //     p,
                //     i {
                //         color: #060606;
                //     }
                //     background: #29e925;
                // }
            }
        }
        .modal-create-playlist {
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10000;
            height: 100vh;
            width: 100vw;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s all;
            .window-modal {
                border-radius: 10px;
                background-color: rgba(19, 19, 19, 1);
                width: 500px;
                padding: 10px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.3s all;
                .top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    i {
                        font-size: 22px;
                        padding: 10px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    h2,
                    i {
                        color: white;
                    }
                }
                form {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    .file-select {
                        height: 180px;
                        width: 180px;
                        position: relative;
                        display: inline-block;
                        background-color: #b6b6b6;
                        transition: 0.3s all;
                        margin: 15px;
                        input[type="file"] {
                            opacity: 0;
                            height: 180px;
                            width: 180px;
                            display: inline-block;
                        }
                        &:hover {
                            cursor: pointer;
                            &::before {
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                content: "+"; /* testo por defecto */
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                height: 180px;
                                width: 180px;
                                background: rgba(203, 203, 203, 0.5);
                                transition: 0.3s all;
                            }
                        }
                    }
                    .inputs {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        .input-group {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 10px;
                            position: relative;
                            label {
                                position: absolute;
                                top: 3px;
                                left: 25px;
                                color: white;
                                background-color: rgba(19, 19, 19, 1);
                                font-size: 12px;
                                font-weight: bolder;
                                opacity: 0;
                                transition: 0.3s all;
                            }
                            input:focus + label,
                            textarea:focus + label {
                                opacity: 1;
                            }
                            input,
                            textarea {
                                width: 250px;
                                border: none;
                                border-radius: 5px;
                                padding: 15px 18px;
                                background: rgba(52, 52, 52, 0.7);
                                outline: none;
                                color: white;
                                font-family: $font-open-sans;
                            }
                        }
                        button {
                            margin: 5px 15px;
                            align-self: flex-end;
                            font-family: $font-open-sans;
                            background: white;
                            border: none;
                            border-radius: 20px;
                            font-weight: bold;
                            padding: 7px 10px;
                            text-transform: uppercase;
                            transition: 0.3s all;
                            &:hover {
                                cursor: pointer;
                                transform: scale(1.03);
                            }
                        }
                    }
                }
                p {
                    padding: 15px;
                    font-size: 11px;
                    font-weight: bolder;
                    color: white;
                    text-align: justify;
                }
            }
        }
        .show {
            visibility: visible;
            opacity: 1;
            z-index: 9999;
            .window-modal {
                transform: translate(-50%, -50%);
            }
        }
        hr {
            border: 1px solid #29e925;
            width: 80%;
            margin: 5px;
        }
        .playlists {
            width: 90%;
            margin-left: 30px;
            margin-bottom: 100px;
            overflow-y: scroll;
            overflow-x: hidden;
            // scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
            // scrollbar-width: thin;
            // box-sizing: border-box;
            .playlist-sidebar {
                // transition: 0.5s all;
                padding: 9px 0;
                @for $i from 1 through 20 {
                    &:nth-child(#{$i}) {
                        animation-delay: ($i/10) + s;
                    }
                }
                a {
                    text-align: start;
                    text-decoration: none;
                    p {
                        color: rgba($color: #fff, $alpha: 0.7);
                        font-family: $font-sen;
                        font-size: 16px;
                        font-weight: lighter;
                        &:hover {
                            color: rgba($color: #fff, $alpha: 1);
                        }
                    }
                }
            }
            &::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical {
                width: 13px;
            }

            &::-webkit-scrollbar-button:increment,
            &::-webkit-scrollbar-button {
                display: none;
            }

            &::-webkit-scrollbar:horizontal {
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba($color: #29e925, $alpha: 0.5);
                border-radius: 0px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 5px;
            }
        }
    }
}
@mixin sidebar-1440px {
    .sidebar {
        width: 20%;
    }
}
@mixin sidebar-1024px {
    .sidebar {
        width: 25%;
    }
}
@mixin sidebar-768px {
    .sidebar {
        height: 90px;
        width: 100vw;
        top: auto;
        bottom: 0;
        left: 0;
        // background-color: #252525;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.8323704481792717) 30%,
            rgba(0, 0, 0, 0.6502976190476191) 57%,
            rgba(0, 0, 0, 0.41220238095238093) 79%,
            rgba(0, 0, 0, 0) 100%
        );
        vertical-align: middle;
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 0;
            .menu-item {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 90px;
                margin: 0;
                border-radius: 0%;
                i {
                    font-size: 23px;
                }
                p {
                    margin-top: 5px;
                    font-size: 15px;
                }
                &:nth-child(3) {
                    display: flex;
                }
                &:nth-child(4) {
                    display: none;
                }
            }
        }
        hr {
            display: none;
        }
        // display: none;
    }
}

@mixin sidebar-485px {
    .sidebar .menu .menu-item p {
        font-size: 12px;
    }
}
