@import "partials/fonts.scss";
@import "partials/sidebar";
@import "partials/bottombar";
@import "partials/user-head";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-sen;
}
.playlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #121212;
    .space {
        width: 15%;
    }
    @include sidebar;
    .myplaylist {
        min-height: 100vh;
        width: 80%;
        margin-bottom: 100px;
        @include user-head;
        .header-playlist {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            height: 300px;
            width: 100%;
            padding: 20px 0px;
            .photo-playlist {
                position: relative;
                img {
                    height: 250px;
                    width: 250px;
                }
                .edit-image {
                    display: none;
                    i,
                    p {
                        color: rgb(255, 255, 255);
                    }
                    i {
                        font-size: 30px;
                    }
                    p {
                        padding: 10px 0;
                    }
                }

                &:hover {
                    .edit-image {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        background-color: rgba(0, 0, 0, 1);
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .description-playlist {
                padding: 20px;
                p,
                h1,
                small {
                    color: white;
                }

                p {
                    text-transform: uppercase;
                    font-size: 16px;
                    text-align: start;
                }
                h1 {
                    font-size: 70px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .details {
                    padding: 15px 0;
                    text-transform: none;
                    #nameCreator {
                        color: #29e925;
                    }
                }
                #description {
                    font-weight: lighter;
                    text-transform: none;
                    font-size: 17px;
                    opacity: 0.6;
                    text-align: start;
                }
            }
            #videoYT {
                position: absolute;
                align-self: center;
                justify-self: center;
                right: 0px;
                // visibility: hidden;
            }
        }
        .list-songs {
            margin: 0 auto;
            .options-playlist {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .options-left,
                .options-right {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .options-left {
                    button {
                        border: none;
                        background: none;
                        color: white;
                        padding: 10px;
                    }
                    .options {
                        font-size: 20px;
                    }
                    .play {
                        background: green;
                        height: 60px;
                        width: 60px;
                        border-radius: 30px;
                        font-size: 17px;
                        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s all;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                .options-right {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    button {
                        color: white;
                        background: none;
                        border: none;
                        padding: 10px;
                        &:hover {
                            background-color: rgba(236, 236, 236, 0.3);
                            border-radius: 20px;
                        }
                    }
                    .filters {
                        .filter {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background: rgba(255, 255, 255, 0.2);
                            padding: 3px 8px;
                            i {
                                padding: 8px;
                                margin-bottom: 7px;
                            }
                            i,
                            p {
                                color: white;
                                opacity: 0.5;
                            }
                            &:hover {
                                i,
                                p {
                                    opacity: 1;
                                }
                            }
                        }
                        .list-filters {
                            box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.35);
                            background-color: #252525;
                            display: none;
                            padding: 3px;
                            margin: 5px 0px;
                            border-radius: 5px;
                            .filter-item {
                                width: 150px;
                                padding: 8px;
                                border-radius: 3px;
                                &:hover {
                                    background: rgba(255, 255, 255, 0.2);
                                }
                                p {
                                    padding: 5px;
                                    text-align: start;
                                    color: white;
                                }
                            }
                        }
                        .show {
                            display: flex;
                            flex-direction: column;
                            position: fixed;
                            z-index: 2;
                            right: 30px;
                        }
                    }
                }
            }
            .head-playlist {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                // background: red;
                padding: 10px 0px;
                border-bottom: 2px solid #252525;
                p {
                    color: white;
                    opacity: 0.5;
                    font-size: 15px;
                }
                #number,
                #duration,
                #title,
                #artist {
                    text-align: start;
                }
                #number {
                    width: 5%;
                    text-align: center;
                }
                #title {
                    width: 45%;
                }
                #artist {
                    width: 20%;
                }
                #addedAt {
                    width: 15%;
                    text-align: start;
                }
                #duration {
                    width: 10%;
                }
                #option {
                    width: 5%;
                }
            }
            .list-musics {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                .music {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    // width: 80vw;
                    width: 100%;
                    padding: 10px 0px;
                    &:hover {
                        background: rgba(236, 236, 236, 0.2);
                        .number {
                            p {
                                display: none;
                            }
                            i {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                font-size: 14px;
                            }
                        }
                    }
                    .description-music h2,
                    .number,
                    .artist,
                    .addedAt,
                    .duration {
                        color: white;
                        opacity: 0.8;
                        text-align: start;
                    }
                    .number {
                        text-align: center;
                        width: 5%;
                        i {
                            padding: 6px;
                            display: none;
                            text-align: center;
                        }
                    }
                    .description-music {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 45%;
                        h2 {
                            font-weight: lighter;
                            font-size: 18px;
                            padding: 5px 15px;
                            text-align: start;
                            width: 75%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .artist {
                        width: 20%;
                        padding-right: 10px;
                        // width: 75%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .addedAt {
                        width: 15%;
                    }
                    .duration {
                        width: 10%;
                    }
                    .options {
                        width: 5%;
                        color: white;
                        opacity: 0;
                    }
                    &:hover {
                        .options {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @include bottombar;
}

// @media (max-width:){}
@media (max-width: 1440px) {
    .playlist {
        .space {
            width: 20%;
        }
        @include sidebar-1440px;
        .myplaylist {
            width: 75%;
        }
    }
}
@media (max-width: 1125px) {
    .playlist .myplaylist .header-playlist .description-playlist h1 {
        font-size: 60px;
    }
}
@media (max-width: 1024px) {
    .playlist {
        .space {
            width: 25%;
        }
        @include sidebar-1024px;
        .myplaylist {
            width: 70%;
            .header-playlist {
                .photo-playlist img {
                    height: 200px;
                    width: 200px;
                }
                .description-playlist h1 {
                    font-size: 45px;
                }
            }
        }
    }
}
@media (max-width: 860px) {
    .playlist {
        .myplaylist {
            .header-playlist {
                .photo-playlist img {
                    height: 190px;
                    width: 190px;
                }
                .description-playlist h1 {
                    font-size: 40px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .playlist {
        .space {
            width: 0%;
        }
        @include sidebar-768px;
        .myplaylist {
            width: 90%;
            margin-bottom: 150px;
            .header-playlist {
                height: auto;
            }
        }
    }
}

@media (max-width: 620px) {
    .playlist {
        .myplaylist {
            .header-playlist {
                flex-direction: column;
                align-items: center;
                padding: 0;
                .photo-playlist img {
                    height: 250px;
                    width: 250px;
                }
                .description-playlist {
                    p:first-child {
                        display: none;
                    }
                    #description {
                        padding-top: 5px;
                    }
                    .details {
                        width: 100%;
                    }
                }
            }
            .list-songs .playlist-musics {
                .head-playlist {
                    display: none;
                }
                .list-musics .music {
                    padding: 0;
                    .number,
                    .artist,
                    .addedAt,
                    .options,
                    .duration {
                        display: none;
                    }
                    .description-music{
                        background-color: red;
                        height: 70px;
                        width: 100%;
                        h2{
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}
