@import "partials/fonts.scss";
@import "partials/sidebar";
@import "partials/bottombar";
@import "partials/user-head";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .space {
        width: 13%;
    }
    @include sidebar;
    .page {
        height: 100vh;
        width: 87%;
        background: #121212;
        @include user-head;
        h2 {
            color: white;
            text-align: start;
            margin: 0 25px;
        }
        .results {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            .results-search {
                background: rgba(57, 57, 57, 0.5);
                margin: 10px;
                height: 250px;
                width: 250px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                img {
                    width: 80%;
                    height: 150px;
                }
                p {
                    color: white;
                    font-family: $font-open-sans;
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                    cursor: pointer;
                }
            }
        }
        .modal {
            background-color: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10000;
            height: 100vh;
            width: 100vw;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all;
            .modal-playlists {
                border-radius: 10px;
                background-color: rgba(19, 19, 19, 1);
                width: 500px;
                padding: 10px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.3s all;
                .playlists {
                    .playlist {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        border-radius: 6px;
                        height: 60px;
                        margin: 10px 0;
                        padding: 5px;
                        transition: 0.3s all;
                        p {
                            color: white;
                            padding-left: 15px;
                        }
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.2);
                            cursor: pointer;
                        }
                    }
                    .selected {
                        background-color: rgba(255, 255, 255, 0.2);
                        p {
                            color: #1db954;
                        }
                    }
                }
                p{
                    color: red;
                }
                .bottom-modal-playlists {
                    button {
                        padding: 8px 16px;
                        border-radius: 20px;
                        border: none;
                        height: 40px;
                        width: 100px;
                        font-size: 15px;
                        text-align: center;
                        font-weight: bolder;
                    }
                    .confirm {
                        color: white;
                        background-color: #1db954;
                        margin: 0 10px;
                    }
                }
            }
        }
        .show {
            visibility: visible;
            opacity: 1;
            z-index: 9999;
            .modal-playlists {
                transform: translate(-50%, -50%);
            }
        }
    }
    @include bottombar;
}
